*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    background-color: lightgrey;
    height: 100vh;
    position: relative;
}


.slide{
    width: 50%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
}

.container-img-sx{
    width: 70%;
    height: 400px;
    background-color: burlywood;
}

.container-img-sx img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.container-img-dx{
    width: 30%;
    height: 400px;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

.img-destra{
    width: 100%;
    height: 20%;
}

.img-destra img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.bordo img{
    border: solid 2px white;
}

.test-over{
    width: 100%;
    height: 20%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    z-index: 1;
}

.prev{
    position: absolute;
    top: 5%;
    left: 50%;
    width: 50px;
    height: 50px;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 999;
}

.next{
    position: absolute;
    top: 95%;
    left: 50%;
    width: 50px;
    height: 50px;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 999;
}